/*all element tags*/
body{
  background-color: #EEEEEE;
  text-align: center;
}

h1{
  margin: 30px;
  font-size: 6rem;
  /*color: #FD841F;*/
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: black;
  /*font-family: 'Monofett', cursive;*/
  font-family: 'Joti One', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: sans-serif;*/
  display: inline-block;
}

p{
  font-size: 2.2rem;
  color: black;
  font-weight: 900;
  /*font-family: 'Nabla', cursive;*/
  /*font-family: 'Ewert', cursive;*/
  font-family: 'Joti One', cursive;

  /*color: #FD841F;*/
}

img {
  width: 80%;
}

/*all class tags*/


.container{
  margin: 0;
  padding: 0;
  /*text-align: center;*/
}

.spec{
  color: #16213E;
}

.icon{
  padding-top: 0;
  padding-bottom: 0;
  color: #E64848;

}

.iconss{
   display: inline-block;
}

.footer{
  font-size: 1.3rem;
  font-weight: 800;
  /*font-family: 'Permanent Marker', cursive;*/
  /*color: #FD841F;*/

  /*text-align: center;*/
}


.dice {
  display: inline-block;
}

/*button*/

.btn {
  background: whte;
  background-image: -webkit-linear-gradient(top, whte, white);
  background-image: -moz-linear-gradient(top, whte, white);
  background-image: -ms-linear-gradient(top, whte, white);
  background-image: -o-linear-gradient(top, whte, white);
  background-image: linear-gradient(to bottom, whte, white);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Courier New;
  color: black;
  font-size: 23px;
  padding: 13px 20px 10px 20px;
  text-decoration: none;
  margin: 1rem;
}

.btn:hover {
  background: grey;
  background-image: -webkit-linear-gradient(top, grey, grey);
  background-image: -moz-linear-gradient(top, grey, grey);
  background-image: -ms-linear-gradient(top, grey, grey);
  background-image: -o-linear-gradient(top, grey, grey);
  background-image: linear-gradient(to bottom, grey, grey);
  text-decoration: none;
}
